<!DOCTYPE html>
<html lang="en" content="width=device-width, initial-scale=1">
<style>
    .scroll {
    scroll-behavior: smooth;
    }
    </style>
<a href="/front/comingin"> <input type="button" value="Выйти" align="center"/></a>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <center>Dashboard</center>
</head>
<body style="background-color: #DCDCDC; ">

<form action="" method="get" >
    <div>


    <p>Balance: <input style="border:1px #00008B solid; width: 150px; " type="text" placeholder="Ваш баланс"/></p>

        </div>
</form>
<form action="" method="post">


    <fieldset align="center" style="width: 50%">
        <legend align="left"><h4>Add transaction</h4></legend>
    <p align="left">Type:<input style="border:1px #00008B solid; width: 150px; " type="text" name="Login" placeholder="Тип" /></p>
    <p align="left">Date:<input style="border:1px #00008B solid; width: 180px; " type="text" name="Password"  placeholder="Дата, в формате: 01.01.2025" /></p>
    <p align="left">Category:<input style="border:1px #00008B solid; width: 150px" type="text" name="Category" placeholder="Категория" /></p>
    <p align="left">Amount:<input style="border:1px #00008B solid; width: 150px" type="text" name="Amount" placeholder="Ваша Сумма" /></p>
    <p align="left">Comment:<input style="border:1px #00008B solid; width: 150px" type="text" name="Comment" placeholder="Ваш комментарий" /></p>
        <p align="left"><input type="button" value="Add Transaction" style="margin-left: 50px" align="left"><a href="/front/change"><input type="button" value="Change transaction" style="margin-left: 50px" /></a><a href="/front/delete"><input type="button" value="Delete transaction" style="margin-left: 50px" /></a></p>

<!--    <p>name="Sign up" type="submit" value="Sign up" style="vertical-align: middle"<button>Sign up</button> </p>-->
    </fieldset>
</form>
<form method="post">
    <fieldset align="center" style="width: 61%">
        <legend align="left"><h4>Filters</h4></legend>
        <div align="left">
            <ul style="display: inline; margin-left: -50px" role="list">
            <li style="display: inline; border: 1px solid #000; padding: 3px; margin-right: 10px" ><select name="Date"><option>Start date</option><option>End date</option><option>Exact date</option></select></li>
            <li style="display: inline; border: 1px solid #000; padding: 3px; margin-right: 10px" ><select name="Type"><option>Transaction in</option><option>Transaction out</option></select></li>
            <li style="display: inline; border: 1px solid #000; padding: 3px; margin-right: 10px" ><select name="Status"><option>Status</option><option>Successful</option><option>Canceled</option></select></li>
            <li style="display: inline; border: 1px solid #000; padding: 3px; margin-right: 10px" ><select name="INN"><option>INN</option><option></option></select></li>
            <li style="display: inline; border: 1px solid #000; padding: 3px; margin-right: 10px" ><select name="Banks"><option>Sender Banks</option><option>Receiver Bank</option></select></li>
            <li style="display: inline; border: 1px solid #000; padding: 3px; margin-right: 10px" ><select name="Category"><option>Category</option><option></option></select></li>
            <li style="display: inline; border: 1px solid #000; padding: 3px;" ><select name="Min"><option>Operation min</option><option>Operation max</option></select></li>
            </ul>
        </div>
    </fieldset>
</form>
<form>
    <fieldset align="center" style="width: 50%">
        <legend align="left"><h4>Transactions</h4></legend>
        <table style="border-collapse: collapse">
            <thead>
            <tr>
                <th style="border: 1px solid #000; padding: 5px; background-color: #f2f2f2">Date</th>
                <th style="border: 1px solid #000; padding: 5px; background-color: #f2f2f2">Type</th>
                <th style="border: 1px solid #000; padding: 5px; background-color: #f2f2f2">Category</th>
                <th style="border: 1px solid #000; padding: 5px; background-color: #f2f2f2">Amount</th>
                <th style="border: 1px solid #000; padding: 5px; background-color: #f2f2f2">Comment</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td style="border: 1px solid #000; padding: 8px"></td>
                <td style="border: 1px solid #000; padding: 8px"></td>
                <td style="border: 1px solid #000; padding: 8px"></td>
                <td style="border: 1px solid #000; padding: 8px"></td>
                <td style="border: 1px solid #000; padding: 8px"></td>
            </tr>
            </tbody>
            <tbody>
            <tr>
                <td style="border: 1px solid #000; padding: 8px"></td>
                <td style="border: 1px solid #000; padding: 8px"></td>
                <td style="border: 1px solid #000; padding: 8px"></td>
                <td style="border: 1px solid #000; padding: 8px"></td>
                <td style="border: 1px solid #000; padding: 8px"></td>
            </tr>
            </tbody>
            <tbody>
            <tr>
                <td style="border: 1px solid #000; padding: 8px"></td>
                <td style="border: 1px solid #000; padding: 8px"></td>
                <td style="border: 1px solid #000; padding: 8px"></td>
                <td style="border: 1px solid #000; padding: 8px"></td>
                <td style="border: 1px solid #000; padding: 8px"></td>
            </tr>
            </tbody>
        </table>
    </fieldset>
</form>
</body>
</html>