<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Регистрация</title>
    <a href="/front/comingin"> <input type="button" value="Назад" align="center"/></a>
</head>
<body style="background-color: #DCDCDC">
<form action="" method="post">
    <center><fieldset align="center" style="width: 50%">
        <legend><center>Регистрация</center></legend>
    <p><center>Login:</center> <center><input autofocus style="border:1px #00008B solid; width: 150px; " type="text" name="Login" placeholder="Придумайте логин" required /></center></p>
    <p><center>Password:</center> <center><input style="border:1px #00008B solid; width: 150px" type="text" name="Password" placeholder="Придумайте пароль" required /></center></p>
    <p><center>Password:</center> <center><input style="border:1px #00008B solid; width: 150px" type="text" name="Password2" placeholder="Пароль ещё раз" required /></center></p>
    <p><center>E-mail:</center> <center><input style="border:1px #00008B solid; width: 150px" type="text" name="Email" placeholder="Ваша почта" required /></center></p>
    <center><p><input type="submit" value="Зарегистрироваться" /></p></center>

<!--    <p>name="Sign up" type="submit" value="Sign up" style="vertical-align: middle"<button>Sign up</button> </p>-->
    </fieldset></center>
</form>
</body>
</html>